@using Scio.Common
@using Scio.Web.ViewModels.Forum.Posts
@model IEnumerable<QuestionViewModel>

@{ ViewData["Title"] = "Forum"; }

<article class="forum">
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <div class="forum-content">
       @foreach (var question in Model)
        {
        <div class="forum-post" id="@question.Id">
            <aside>
                <div>
                    <a class="upvote" onclick="vote(1, '@question.Id')">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                    <p class="forum-votes-count">@question.VotesCount</p>
                    <a class="downvote" onclick="vote(-1, '@question.Id')">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <div>
                    <p>@question.AnswersCount</p>
                    <p>answers</p>
                </div>
                <div>
                    <p class="forum-comments-count">@question.CommentsCount</p>
                    <p>comments</p>
                </div>
            </aside>
            <div class="forum-post-main">
                <header>
                    <a asp-area="Forum" asp-controller="Posts" asp-action="Details" asp-route-id="@question.Id">
                        <h2>@question.Title</h2>
                    </a>
                    
                    <span>Asked @question.CreatedOn.ToString("dd MMMM yyyy")</span>
                </header>
                @Html.Raw(question.Body)
                <div class="forum-post-meta">
                    <div class="forum-post-author">
                        <img src="~/img/default-user-avatar.jpg">
                        <section>
                            <a href="#">@question.AuthorEmail</a>
                            <span>user</span>
                        </section>
                    </div>
                </div>
                <div class="forum-post-controls">
                    <a asp-area="Forum" asp-controller="Posts" asp-action="Edit" asp-route-id="@question.Id">
                        edit <i class="far fa-edit"></i>
                    </a>
                    <a asp-area="Forum" asp-controller="Posts" asp-action="Delete" asp-route-id="@question.Id">
                        delete <i class="far fa-trash-alt"></i>
                    </a>
                    <a class="forum-comments-toggle" onclick="toggleComments('@question.Id')">comments <i class="fas fa-plus"></i></a>
                </div>
                <div class="forum-post-comments">
                    <div class="forum-comment">
                       @if (this.User.Identity.IsAuthenticated)
                        {
                        <textarea rows="3"></textarea>
                        <div class="form-group align-right">
                            <button onclick="postComment('@question.Id')">Send <i class="fas fa-paper-plane"></i></button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <partial name="_SideContentPartial" />
</article>
