@using Scio.Common
@using Scio.Web.Helpers
@using System.Security.Claims
@using Scio.Web.ViewModels.Forum.Posts
@model IEnumerable<QuestionViewModel>

@{ ViewData["Title"] = "Forum"; }

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">
            <div class="card">
                <div class="card-body">
                   @foreach (var question in Model)
                    {
                        <div class="forum-post" id="@question.Id">
                            <aside>
                                <div>
                                    <a class="upvote" onclick="vote(1, '@question.Id')">
                                        <i class="fas fa-chevron-up"></i>
                                    </a>
                                    <p class="forum-votes-count">@question.VotesCount</p>
                                    <a class="downvote" onclick="vote(-1, '@question.Id')">
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                </div>
                                <div>
                                    <p>@question.AnswersCount</p>
                                    <p>answers</p>
                                </div>
                                <div>
                                    <p class="forum-comments-count">@question.CommentsCount</p>
                                    <p>comments</p>
                                </div>
                            </aside>
                            <div class="forum-post-main">
                                <header>
                                    <a asp-area="Forum" asp-controller="Posts" asp-action="Details" asp-route-id="@question.Id">
                                        <h2>@question.Title</h2>
                                    </a>
                                    <span>Asked @TimeSpanParser.Parse(question.CreatedOn)</span>
                                </header>
                                @Html.Raw(question.Body)
                                <div class="forum-post-meta">
                                    <div class="forum-post-author">
                                        <img src="@(question.AuthorImageUrl ?? "~/img/default-user.png")">
                                        <section>
                                            <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@question.AuthorId">@question.AuthorDisplayName</a>
                                            <span>user</span>
                                        </section>
                                    </div>
                                </div>
                                <div class="forum-post-controls">
                                   @if (this.User.Identity.IsAuthenticated && question.AuthorId == User.FindFirst(ClaimTypes.NameIdentifier).Value)
                                    {
                                        <a asp-area="Forum" asp-controller="Posts" asp-action="Edit" asp-route-id="@question.Id">
                                            edit <i class="far fa-edit"></i>
                                        </a>
                                        <a asp-area="Forum" asp-controller="Posts" asp-action="Delete" asp-route-id="@question.Id">
                                            delete <i class="far fa-trash-alt"></i>
                                        </a>
                                    }
                                    <a class="forum-comments-toggle" onclick="toggleComments('@question.Id')">comments <i class="fas fa-plus"></i></a>
                                </div>
                                <div class="forum-post-comments">
                                    <div class="forum-comment">
                                        <textarea rows="3"></textarea>
                                        <div class="form-group align-right">
                                            <button onclick="postComment('@question.Id')">Send <i class="fas fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>