@using Scio.Common
@using Scio.Web.Helpers
@using System.Security.Claims
@using Scio.Web.ViewModels.Forum.Posts
@model IEnumerable<QuestionViewModel>

@{ ViewData["Title"] = "Forum"; }

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">
           @foreach (var question in Model)
            {
                <div class="card" id="@question.Id">
                    <div class="card-header">
                        <a class="text-dark" asp-area="Forum" asp-controller="Posts" asp-action="Details" asp-route-id="@question.Id">
                            <h2>@question.Title</h2>
                        </a>
                        <span>Asked @TimeSpanParser.Parse(question.CreatedOn)</span>
                    </div>
                    <div class="card-body forum-post">
                        <aside class="mt-1">
                            <div class="mb-3">
                                <a class="upvote" onclick="vote(1, '@question.Id')"><i class="fas fa-chevron-up"></i></a>
                                <p class="forum-votes-count m-0">@question.VotesCount</p>
                                <a class="downvote" onclick="vote(-1, '@question.Id')"><i class="fas fa-chevron-down"></i></a>
                            </div>
                            <div class="mb-3">
                                <p class="m-0">@question.AnswersCount</p>
                                <p class="m-0">answers</p>
                            </div>
                            <div class="mb-3">
                                <p class="forum-comments-count m-0">@question.CommentsCount</p>
                                <p class="m-0">comments</p>
                            </div>
                        </aside>
                        <section>
                            <div class="row">
                                <div class="col">
                                    @Html.Raw(question.Body)
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="user-block float-left">
                                        <img class="img-circle img-bordered-sm" src="@(question.AuthorImageUrl ?? "~/img/default-user.png")" alt="user image">
                                        <span class="username">
                                            <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@question.AuthorId">@question.AuthorDisplayName</a>
                                        </span>
                                        <span class="description">user email</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                   @if (this.User.Identity.IsAuthenticated && question.AuthorId == User.FindFirst(ClaimTypes.NameIdentifier).Value)
                                    {
                                        <a class="mr-2" asp-area="Forum" asp-controller="Posts" asp-action="Edit" asp-route-id="@question.Id">
                                            edit <i class="far fa-edit"></i>
                                        </a>
                                        <a class="mr-2" asp-area="Forum" asp-controller="Posts" asp-action="Delete" asp-route-id="@question.Id">
                                            delete <i class="far fa-trash-alt"></i>
                                        </a>
                                    }
                                    <a class="forum-comments-toggle float-right" onclick="toggleComments('@question.Id')">comments <i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="card-comments forum-post-comments mt-3">
                                <div class="card-comment">
                                    <img class="img-fluid img-circle img-sm" src="~/img/default-user.png" alt="Alt Text">
                                    <div class="img-push">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                                            <span class="input-group-append">
                                                <button onclick="postComment('@question.Id')" class="form-control form-control-sm btn-info">Send <i class="fas fa-paper-plane"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            }
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>