@using Scio.Web.ViewModels.Forum.Posts
@model QuestionDetailsViewModel

@{
    ViewData["Title"] = "Question Details";
}

<article class="forum">
    <header>
        <h1>@Model.Title</h1>
        <span>Asked @Model.CreatedOn.ToString("dd MMMM yyyy")</span>
    </header>
    <div class="forum-content">
        <div class="forum-post" id="@Model.Id">
            <aside>
                <a class="upvote" onclick="vote(1, '@Model.Id')">
                    <i class="fas fa-chevron-up"></i>
                </a>
                <p class="forum-votes-count">@Model.VotesCount</p>
                <a class="downvote" onclick="vote(-1, '@Model.Id')">
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div>
                    <p>@Model.Answers.Count()</p>
                    <p>answers</p>
                </div>
                <div>
                    <p class="forum-comments-count">@Model.CommentsCount</p>
                    <p>comments</p>
                </div>
            </aside>
            <div class="forum-post-main">
                @Html.Raw(Model.Body)
                <div class="forum-post-meta">
                    <div class="forum-post-author">
                        <img src="~/img/default-user-avatar.jpg">
                        <section>
                            <a href="#">@Model.AuthorEmail</a>
                            <span>user</span>
                        </section>
                    </div>
                </div>
                <div class="forum-post-controls">
                    <a asp-area="Forum" asp-controller="Posts" asp-action="EditQuestion" asp-route-id="@Model.Id">
                        edit <i class="far fa-edit"></i>
                    </a>
                    <a asp-area="Forum" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">
                        delete <i class="far fa-trash-alt"></i>
                    </a>
                    <button class="comments-toggle" onclick="toggleComments('@Model.Id')">comments</button>
                </div>
                <div class="forum-comments">
                    <div class="forum-add-comment-card">
                       @if (this.User.Identity.IsAuthenticated)
                        {
                            <textarea rows="3"></textarea>
                            <button onclick="postComment('@Model.Id')" class="add-comment">add comment</button>
                        }
                    </div>
                </div>
            </div>
        </div>
       @if (Model.Answers.Count() == 0)
        {
            <h2>No Answers</h2>
        }
        else
        {
            <h2>Answers</h2>
           @foreach (var answer in Model.Answers)
            {
            <div class="forum-post" id="@answer.Id">
                <aside>
                    <a class="upvote" onclick="vote(1, '@answer.Id')">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                    <p class="forum-votes-count">@answer.VotesCount</p>
                    <a class="downvote" onclick="vote(-1, '@answer.Id')">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div>
                        <p class="forum-comments-count">@answer.CommentsCount</p>
                        <p>comments</p>
                    </div>
                </aside>
                <div class="forum-post-main">
                    @Html.Raw(answer.Body)
                    <div class="forum-post-meta">
                        <div class="forum-post-author">
                            <img src="~/img/default-user-avatar.jpg">
                            <section>
                                <a href="#">@answer.AuthorEmail</a>
                                <span>user</span>
                            </section>
                        </div>
                        <span>Answered @answer.CreatedOn.ToString("dd MMMM yyyy")</span>
                    </div>
                    <div class="forum-post-controls">
                        <a asp-area="Forum" asp-controller="Posts" asp-action="EditAnswer" asp-route-id="@answer.Id">
                            edit <i class="far fa-edit"></i>
                        </a>
                        <a asp-area="Forum" asp-controller="Posts" asp-action="Delete" asp-route-id="@answer.Id">
                            delete <i class="far fa-trash-alt"></i>
                        </a>
                        <button class="comments-toggle" onclick="toggleComments('@answer.Id')">comments</button>
                    </div>
                    <div class="forum-comments">
                        <div class="forum-add-comment-card">
                           @if (this.User.Identity.IsAuthenticated)
                            {
                                <textarea rows="3"></textarea>
                                <button onclick="postComment('@answer.Id')" class="add-comment">add comment</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
        }
        <h2>My Answer</h2>
        <form role="form" asp-area="Forum" asp-controller="Posts" asp-action="AnswerQuestion" method="post">
            <textarea id="mytextarea" name="body"></textarea>
            <input type="hidden" value="@Model.Id" name="questionId" />
            <button type="submit">Submit Answer</button>
        </form>
    </div>
    <partial name="_SideContentPartial" />
</article>