@using Scio.Web.ViewModels.Forum.Posts
@using Scio.Web.Helpers
@using System.Security.Claims
@model DetailsViewModel

@{
    ViewData["Title"] = "Question Details";
}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="Forum" asp-controller="Posts" asp-action="All">Forum</a></li>
                        <li class="breadcrumb-item active">@Model.ShortTitle</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">
            <div class="card">
                <div class="card-header">
                    <h2>@Model.Title</h2>
                    <span>Asked @TimeSpanParser.Parse(Model.CreatedOn)</span>
                </div>
                <div class="card-body">
                    <div class="forum-post" id="@Model.Id">
                        <aside class="mt-1">
                            <div class="mb-3">
                                <a class="upvote" onclick="vote(1, '@Model.Id')">
                                    <i class="fas fa-chevron-up"></i>
                                </a>
                                <p class="forum-votes-count m-0">@Model.TotalVotes</p>
                                <a class="downvote" onclick="vote(-1, '@Model.Id')">
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                            </div>
                            <div class="mb-3">
                                <p class="m-0">@Model.Answers.Count()</p>
                                <p class="m-0">answers</p>
                            </div>
                            <div class="mb-3">
                                <p class="forum-comments-count m-0">@Model.CommentsCount</p>
                                <p class="m-0">comments</p>
                            </div>
                        </aside>
                        <section>
                            <div class="row">
                                <div class="col">
                                    @Html.Raw(Model.Body)
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="user-block float-left">
                                        <img class="img-circle img-bordered-sm" src="@(Model.AuthorImageUrl ?? "~/img/default-user.png")" alt="user image">
                                        <span class="username">
                                            <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.AuthorDisplayName</a>
                                        </span>
                                        <span class="description">user email</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                   @if (this.User.Identity.IsAuthenticated && Model.AuthorId == User.FindFirst(ClaimTypes.NameIdentifier).Value)
                                    {
                                        <a asp-area="Forum" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">
                                            edit <i class="far fa-edit"></i>
                                        </a>
                                        <a asp-area="Forum" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">
                                            delete <i class="far fa-trash-alt"></i>
                                        </a>
                                    }
                                    <a class="forum-comments-toggle float-right" onclick="toggleComments('@Model.Id')">comments <i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="card-comments forum-post-comments mt-3">
                                <div class="card-comment">
                                    <img class="img-fluid img-circle img-sm" src="~/img/default-user.png" alt="Alt Text">
                                    <div class="img-push">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                                            <span class="input-group-append">
                                                <button onclick="postComment('@Model.Id')" class="form-control form-control-sm btn-info">Send <i class="fas fa-paper-plane"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <hr />
                   @if (Model.Answers.Count() > 0)
                    {
                        <h3>Answers</h3>
                       @foreach (var answer in Model.Answers)
                        {
                            <div class="forum-post" id="@answer.Id">
                                <aside class="mt-1">
                                    <div class="mb-3">
                                        <a class="upvote" onclick="vote(1, '@answer.Id')">
                                            <i class="fas fa-chevron-up"></i>
                                        </a>
                                        <p class="forum-votes-count m-0">@answer.VotesCount</p>
                                        <a class="downvote" onclick="vote(-1, '@answer.Id')">
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="mb-3">
                                        <p class="forum-comments-count m-0">@answer.CommentsCount</p>
                                        <p class="m-0">comments</p>
                                    </div>
                                </aside>
                                <section>
                                    <div class="row">
                                        <div class="col">
                                            @Html.Raw(answer.Body)
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="user-block float-left">
                                                <img class="img-circle img-bordered-sm" src="@(answer.AuthorImageUrl ?? "~/img/default-user.png")" alt="user image">
                                                <span class="username">
                                                    <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@answer.AuthorId">@answer.AuthorDisplayName</a>
                                                </span>
                                                <span class="description">user email</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                           @if (Model.AuthorId == User.FindFirst(ClaimTypes.NameIdentifier).Value)
                                            {
                                                <a asp-area="Forum" asp-controller="Posts" asp-action="Edit" asp-route-id="@answer.Id">
                                                    edit <i class="far fa-edit"></i>
                                                </a>
                                                <a asp-area="Forum" asp-controller="Posts" asp-action="Delete" asp-route-id="@answer.Id">
                                                    delete <i class="far fa-trash-alt"></i>
                                                </a>
                                            }
                                            <a class="forum-comments-toggle float-right" onclick="toggleComments('@answer.Id')">comments <i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-comments forum-post-comments mt-3">
                                        <div class="card-comment">
                                            <img class="img-fluid img-circle img-sm" src="~/img/default-user.png" alt="Alt Text">
                                            <div class="img-push">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                                                    <span class="input-group-append">
                                                        <button onclick="postComment('@answer.Id')" class="form-control form-control-sm btn-info">Send <i class="fas fa-paper-plane"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <hr />
                        }
                    }
                    <h3>My Answer</h3>
                    <form role="form" asp-area="Forum" asp-controller="Posts" asp-action="New" method="post">
                        <input type="hidden" value="@Model.Id" name="questionId" />
                        <div class="form-group">
                            <textarea asp-for="PostBody" id="post-body"></textarea>
                            <span asp-validation-for="PostBody"></span>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="user-block float-left">
                                    <img src="~/img/default-user.png" class="img-circle img-bordered-sm">
                                    <span class="username">
                                        <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">@User.FindFirst(ClaimTypes.Name).Value</a>
                                    </span>
                                    <span class="description">user email</span>
                                </div>
                            </div>
                            <div class="col md-3">
                                <button type="submit" class="float-right">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>

@section Scripts {
    <partial name="_TinyMCE" />
    <partial name="_ValidationScriptsPartial" />
}