@using Scio.Web.ViewModels.Forum.Posts
@using Scio.Web.Helpers
@using System.Security.Claims
@model EditViewModel

@{
    ViewData["Title"] = "Edit Post";
}

<form class="forum" role="form" asp-area="Forum" asp-controller="Posts" asp-action="Edit" method="post">
    <header>
        <div asp-validation-summary="All"></div>
       @if (Model.QuestionId == null)
        {
        <div class="form-group">
            <textarea asp-for="Title" rows="3" required></textarea>
            <span asp-validation-for="Title"></span>
        </div>
        }
        else
        {
        <h1>@Model.QuestionTitle</h1>
        <span>Asked @TimeSpanParser.Parse(Model.QuestionCreatedOn)</span>
        }
    </header>
    <div class="forum-content">
        <div class="forum-post" id="@(Model.QuestionId ?? Model.Id)">
            <aside>
                <div>
                    <a class="upvote" onclick="vote(1, '@(Model.QuestionId ?? Model.Id)')">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                    <p class="forum-votes-count">@(Model.QuestionId != null ? Model.QuestionTotalVotes : Model.TotalVotes)</p>
                    <a class="downvote" onclick="vote(-1, '@(Model.QuestionId ?? Model.Id)')">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <div>
                    <p>@Model.QuestionAnswersCount</p>
                    <p>answers</p>
                </div>
                <div>
                    <p class="forum-comments-count">@(Model.QuestionId == null ? Model.CommentsCount : Model.QuestionCommentsCount)</p>
                    <p>comments</p>
                </div>
            </aside>
            <div class="forum-post-main">
               @if (Model.QuestionId == null)
                {
                <div class="form-group">
                    <textarea asp-for="Body" id="mytextarea"></textarea>
                    <span asp-validation-for="Body"></span>
                </div>
                <div class="forum-post-meta">
                    <div class="forum-post-author">
                        <img src="~/img/default-user.png">
                        <section>
                            <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">@User.FindFirst(ClaimTypes.Name).Value</a>
                            <span>user</span>
                        </section>
                    </div>
                    <div class="form-group align-right">
                        <input asp-for="Id" type="hidden" name="id">
                        <button type="submit">Save</button>
                    </div>
                </div>
                }
                else
                {
                @Html.Raw(Model.QuestionBody)
                <div class="forum-post-meta">
                    <div class="forum-post-author">
                        <img src="@(Model.QuestionAuthorImageUrl ?? "~/img/default-user.png")">
                        <section>
                            <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@Model.QuestionAuthorId">@Model.QuestionAuthorEmail</a>
                            <span>user</span>
                        </section>
                    </div>
                </div>
                }
                <div class="forum-post-controls">
                    <a class="forum-comments-toggle" onclick="toggleComments('@(Model.QuestionId ?? Model.Id)')">comments <i class="fas fa-plus"></i></a>
                </div>
                <div class="forum-post-comments">
                    <div class="forum-comment">
                        <textarea rows="3"></textarea>
                        <div class="form-group align-right">
                            <button onclick="postComment('@(Model.QuestionId ?? Model.Id)')">Send <i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       @if (Model.QuestionId != null)
        {
        <h2>My Answer</h2>
        <div class="forum-post" id="@Model.Id">
            <aside>
                <div>
                    <a class="upvote" onclick="vote(1, '@Model.Id')">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                    <p class="forum-votes-count">@Model.TotalVotes</p>
                    <a class="downvote" onclick="vote(-1, '@Model.Id')">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <div>
                    <p class="forum-comments-count">@Model.CommentsCount</p>
                    <p>comments</p>
                </div>
            </aside>
            <div class="forum-post-main">
                <div class="form-group">
                    <textarea asp-for="@Model.AnswerBody" id="mytextarea"></textarea>
                    <span asp-validation-for="AnswerBody"></span>
                </div>
                <div class="forum-post-meta">
                    <div class="forum-post-author">
                        <img src="~/img/default-user.png">
                        <section>
                            <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">@User.FindFirst(ClaimTypes.Name).Value</a>
                            <span>user</span>
                        </section>
                    </div>
                    <div class="form-group align-right">
                        <input asp-for="QuestionId" type="hidden" name="questionId">
                        <input asp-for="Id" type="hidden" name="id">
                        <button type="submit">Save</button>
                    </div>
                </div>
                <div class="forum-post-controls">
                    <a class="forum-comments-toggle" onclick="toggleComments('@Model.Id')">comments <i class="fas fa-plus"></i></a>
                </div>
                <div class="forum-post-comments">
                    <div class="forum-comment">
                        <textarea rows="3"></textarea>
                        <div class="form-group align-right">
                            <button onclick="postComment('@Model.Id')">Send <i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <partial name="_SideContentPartial" />
</form>
