@using Scio.Common
@using Scio.Web.Helpers
@using System.Security.Claims
@using Scio.Web.ViewModels.Classroom.Exams
@model DetailsViewModel

@{ ViewData["Title"] = Model.Title; }

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Course Info</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="Classroom" asp-controller="Courses" asp-action="Home">Courses</a></li>
                        <li class="breadcrumb-item active">@Model.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">

            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link nav-link-custom active" href="#submissions" data-toggle="tab">Submissions</a></li>
                        <li class="nav-item"><a class="nav-link nav-link-custom" href="#edit" data-toggle="tab">Edit</a></li>
                    </ul>
                    <div class="tab-content">

                        @*SUBMISSIONS TAB*@
                        <div class="tab-pane active" id="submissions">
                            <div class="card no-border">
                                <div class="card-body">
                                    @if (Model.Submissions.Count > 0)
                                    {
                                        @foreach (var submission in Model.Submissions)
                                        {
                                            <div class="row">
                                                <div class="col-4">
                                                    <a asp-area="Classroom" asp-controller="Exams" asp-action="Details" asp-route-id="@submission.Id">@submission.AuthorDisplayName</a>
                                                </div>

                                                <div class="col-4">
                                                    <p>@submission.CreatedOn</p>
                                                </div>

                                                <div class="col-4">
                                                    <p>@submission.Score</p>
                                                </div>

                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        @*EDIT TAB*@
                        <div class="tab-pane" id="edit">
                            <form role="form" asp-area="Classroom" asp-controller="Exams" asp-action="New" method="post">
                                <div class="form-group">
                                    <label asp-for="Title">Title:</label>
                                    <textarea asp-for="Title" class="form-control"></textarea>
                                    <span asp-validation-for="Title"></span>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Opens">Opens:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                <input id="opens" asp-for="Opens" type="text" class="form-control float-right">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Closes">Closes:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                <input id="closes" asp-for="Closes" type="text" class="form-control float-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Duration">Duration:</label>
                                            <input asp-for="Duration" type="number" class="form-control">
                                            <span asp-validation-for="Duration"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">

                                                <div class="row">
                                                    <div class="col-8">
                                                        <label for="course-title">Accept after closing time</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate float-right">
                                                            <div class="bootstrap-switch-container">
                                                                <span class="bootstrap-switch-handle-on bootstrap-switch-success">YES</span>
                                                                <span class="bootstrap-switch-label">&nbsp;</span>
                                                                <span class="bootstrap-switch-handle-off bootstrap-switch-danger">NO</span>
                                                                <input type="checkbox" name="my-checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <ol id="questions" class="pl-3 mb-3">
                                        @for (int i = 0; i < Model.Questions.Length; i++)
                                        {
                                            <li>
                                                <i class="ion-close float-right"></i>
                                                <textarea asp-for="@Model.Questions[i].Content" class="form-control mb-3"></textarea>
                                                <div>
                                                    @for (int j = 0; j < Model.Questions[i].Answers.Length; j++)
                                                    {
                                                        <div class="row pb-2 pt-2">
                                                            <input asp-for="@Model.Questions[i].Answers[j].Id" type="hidden">
                                                            <input asp-for="@Model.Questions[i].Answers[j].IsCorrect" class="form-control col-2 col-md-1 m-auto" type="checkbox" value="true">
                                                            <textarea asp-for="@Model.Questions[i].Answers[j].Content" class="form-control col-6 col-md-7 col-lg-8 m-auto" rows="1"></textarea>
                                                            <input asp-for="@Model.Questions[i].Answers[j].Points" class="form-control col-3 col-lg-2 m-auto" type="number">
                                                            <i class="ion-ios-trash-outline ion-xl col-1 m-auto"></i>
                                                        </div>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    </ol>
                                    <div class="col-12 col-md-6 m-auto">
                                        <div class="btn btn-flat btn-outline-info btn-block btn-sm" onclick="addQuestion()">
                                            Add Question <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group align-right">
                                    <input type="hidden" value="@ViewData["CourseId"]" name="courseId" />
                                    <div class="form-group align-right">
                                        <button type="submit" class="btn btn-info btn-flat btn-block-md float-right pl-4 pr-4" disabled><i class="fas fa-save"></i> Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>

