@using Scio.Common
@using Scio.Web.Helpers
@using System.Security.Claims
@using Scio.Web.ViewModels.Classroom.Exams
@model DetailsViewModel

@{ ViewData["Title"] = Model.Title; }

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Course Info</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="Classroom" asp-controller="Courses" asp-action="Home">Courses</a></li>
                        <li class="breadcrumb-item active">@Model.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">
            <div class="card">
                <div class="card-body">
                    <h2>@Model.Title</h2>

                    <p>Opens: @Model.Opens</p>
                    <p>Closes: @Model.Closes</p>
                    <p>Duration: @Model.Duration</p>

                   <hr />
                   <ol>
                       @foreach (var question in Model.Questions)
                       {
                           <li>
                               <p>Question</p>
                               <p>@question.Content</p>

                               <ol>
                                   @foreach (var answer in question.Answers)
                                   {
                                        <li>@answer.Content</li>
                                   }
                               </ol>
                           </li>
                       }
                   </ol>
                </div>
            </div>
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>

