@using Scio.Common
@using Scio.Web.Helpers
@using System.Security.Claims
@using Scio.Web.ViewModels.Classroom.Courses
@model IEnumerable<CourseViewModel>

@{ ViewData["Title"] = "Courses"; }
<div style="display:block">
   @foreach (var course in Model)
    {
    <div>
        <a asp-area="Classroom" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Title</a>
        <div>@course.Description</div>
        <div>@course.Type</div>
        <div>@course.AuthorDisplayName</div>
    </div>
    <hr />
    }
</div>