@using Scio.Common
@using Scio.Web.Helpers
@using System.Security.Claims
@using Scio.Web.ViewModels.Classroom.Courses
@model IEnumerable<HomeViewModel>

@{ ViewData["Title"] = "Courses"; }

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Courses</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-flex">
        <div class="container-fluid main-content">
           @foreach (var course in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <span class="description">@course.Type</span>
                        <a asp-area="Classroom" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id"><h3>@course.Title</h3></a>
                        @Html.Raw(course.Description)
                        <div class="user-block float-left">
                            <img class="img-circle img-bordered-sm" src="@(course.AuthorImageUrl ?? "~/img/default-user.png")" alt="user image">
                            <span class="username">
                                <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@course.AuthorId">@course.AuthorDisplayName</a>
                            </span>
                            <span class="description">user</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <partial name="_SideContentPartial" />
    </div>
</section>




