@using Scio.Common
@using Scio.Web.Helpers
@using System.Security.Claims
@using Scio.Web.ViewModels.Classroom.Courses
@model SettingsViewModel

@{ ViewData["Title"] = "Course Settings"; }

<section class="content">
    <div class="content-custom">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-area="Classroom" asp-controller="Courses" asp-action="Home">Courses</a></li>
                            <li class="breadcrumb-item"><a asp-area="Classroom" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Id">@Model.ShortTitle</a></li>
                            <li class="breadcrumb-item active">Settings</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-flex">
            <div class="container-fluid main-content">
                <div class="card">
                    <div class="card-body">
                        <h2>@Model.Title</h2>
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link nav-link-custom active" href="#info" data-toggle="tab">Info</a></li>
                            <li class="nav-item"><a class="nav-link nav-link-custom" href="#lectures" data-toggle="tab">Lectures</a></li>
                            <li class="nav-item"><a class="nav-link nav-link-custom" href="#exams" data-toggle="tab">Exams</a></li>
                            <li class="nav-item"><a class="nav-link nav-link-custom" href="#users" data-toggle="tab">Users</a></li>
                            <li class="nav-item"><a class="nav-link nav-link-custom" href="#dashboard" data-toggle="tab">Dashboard</a></li>
                        </ul>
                        <div class="tab-content">
                            @*INFO TAB*@
                            <div class="active tab-pane" id="info">
                                <div class="card no-border">
                                    <div class="card-body">
                                        @Html.Raw(Model.Description)
                                        <div class="user-block float-left">
                                            <img class="img-circle img-bordered-sm" src="@(Model.AuthorImageUrl ?? "~/img/default-user.png")" alt="user image">
                                            <span class="username">
                                                <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.AuthorDisplayName</a>
                                            </span>
                                            <span class="description">user</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*LECTURES TAB*@
                            <div class="tab-pane" id="lectures">
                                <div class="card-body">
                                    @foreach (var lecture in Model.Lectures)
                                    {
                                        <div class="card card-custom collapsed-card mb-0">
                                            <div class="card-header">
                                                <h5 class="float-left">@lecture.Title</h5>
                                                <div class="card-tools float-right">
                                                    <p data-card-widget="collapse" class="text-muted">add resource <i class="fas fa-plus"></i></p>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form role="form" enctype="multipart/form-data" asp-area="Classroom" asp-controller="Resourse" asp-action="Upload" method="post">
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="custom-file">
                                                                        <input type="file" multiple="multiple" class="custom-file-input" id="exampleInputFile" name="files">
                                                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 pr-0">
                                                            <div class="form-group">
                                                                <input type="hidden" name="courseId" value="@Model.Id" />
                                                                <input type="hidden" name="lectureId" value="@lecture.Id" />
                                                                <button type="submit" class="float-right">Upload</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        @foreach (var res in lecture.Resources)
                                        {
                                            <div class="row ml-3">
                                                <div class="col-md-9">
                                                    <a href="~/@res.Url"><i class="far fa-file-alt"></i> @res.Title</a>
                                                </div>
                                                <div class="col-md-3">
                                                    <a asp-area="Classroom" asp-controller="Resourse" asp-action="Delete" asp-route-id="@res.Id" class="float-right">delete <i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        }
                                        <hr>
                                    }
                                    <div class="card card-custom collapsed-card">
                                        <div class="card-header">
                                            <div class="card-tools">
                                                <button type="button" data-card-widget="collapse">
                                                    New Section <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <form class="mt-3" role="form" enctype="multipart/form-data" asp-area="Classroom" asp-controller="Lectures" asp-action="New" method="post">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" name="title" placeholder="Section Title" />
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" multiple="multiple" class="custom-file-input" id="exampleInputFile" name="files">
                                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="hidden" name="courseId" value="@Model.Id" />
                                                    <button type="submit" class="input-group-text">Add Section</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*EXAMS TAB*@
                            <div class="tab-pane" id="exams">
                                <div class="card no-border">
                                    <div class="card-body">
                                        @foreach (var exam in Model.Exams)
                                        {
                                            <div class="row">
                                                <div class="col-12 col-sm-4 d-flex">
                                                    <h6 class="m-auto ml-sm-0 mt-sm-auto mb-sm-auto">@exam.Title</h6>
                                                </div>
                                                <div class="col-12 col-sm-4 d-flex">
                                                    <p class="m-auto">Created @TimeSpanParser.Parse((DateTime)exam.CreatedOn)</p>
                                                </div>
                                                <div class="col-12 col-sm-4 d-flex">
                                                    <a class="btn btn-outline-info btn-flat btn-block btn-sm m-auto" asp-area="Classroom" asp-controller="Exams" asp-action="Details" asp-route-id="@exam.Id">View</a>
                                                </div>
                                            </div>
                                            <hr />
                                        }
                                    </div>
                                </div>
                                <a class="btn btn-info btn-flat" asp-area="Classroom" asp-controller="Exams" asp-action="New" asp-route-id="@Model.Id">New Exam</a>
                            </div>

                            @*USERS TAB*@
                            <div class="tab-pane" id="users">
                                <div class="card-body">
                                    @foreach (var user in Model.Users)
                                    {
                                        <div class="row" id="@user.UserId">
                                            <div class="col-sm-7 col-md-4">
                                                <div class="user-block float-left">
                                                    <img class="img-circle img-bordered-sm" src="@(user.UserImageUrl ?? "~/img/default-user.png")" alt="user image">
                                                    <span class="username">
                                                        <a asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@user.UserId">@user.UserDisplayName</a>
                                                    </span>
                                                    <span class="description">@user.UserEmail</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-md-3">
                                                <div class="user-info-status">@(user.Role == "None" ? user.Status : user.Role)</div>
                                                <small class="user-info-date text-muted">@(user.ModifiedOn == null ? "added" : "modified") @TimeSpanParser.Parse(user.ModifiedOn ?? user.CreatedOn)</small>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="row controls">
                                                    @if (user.Status == "Pending")
                                                    {
                                                        <div class="col-sm-6 text-center">
                                                            <button type="button" class="btn btn-block btn-outline-success btn-flat" onclick="updateStatus('@Model.Id', '@user.UserId', 1)">Accept</button>
                                                        </div>
                                                        <div class="col-sm-6 text-center">
                                                            <button type="button" class="btn btn-block btn-outline-danger btn-flat" onclick="updateStatus('@Model.Id', '@user.UserId', 2)">Reject</button>
                                                        </div>
                                                    }
                                                    else if (user.Status == "Accepted")
                                                    {
                                                        <div class="col-6 text-center">
                                                            <button type="button" class="btn btn-block btn-outline-info btn-flat">Admin</button>
                                                        </div>
                                                        <div class="col-6 text-center">
                                                            <button type="button" class="btn btn-block btn-outline-danger btn-flat" onclick="updateStatus('@Model.Id', '@user.UserId', 3)">Remove</button>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-6 text-center">
                                                            <button type="button" class="btn btn-block btn-outline-success btn-flat" onclick="updateStatus('@Model.Id', '@user.UserId', 1)">Accept</button>
                                                        </div>
                                                        <div class="col-6 text-center">
                                                            <button type="button" class="btn btn-block btn-outline-danger btn-flat" )">Delete</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                        <hr>
                                    }
                                </div>
                            </div>

                            @*DASHBOARD TAB*@
                            <div id="dashboard" class="tab-pane">
                                <div class="card no-border">
                                    <div class="card-body">
                                        <h3>Dashboard</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_SideContentPartial" />
        </div>
    </div>
</section>

