@using Scio.Common
@using Scio.Web.ViewModels.Forum.Home
@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Scio Forum";
}

<article class="forum">
    <header>
        <h1>All Questions</h1>
    </header>
    <div class="forum-content">
       @foreach (var question in Model)
        {
        <div class="forum-card">
            <aside>
                <div class="answers">
                    <p>@question.AnswersCount</p>
                    <p>answers</p>
                </div>
                <i class="fas fa-chevron-up"></i>
                <p>votes</p>
                <i class="fas fa-chevron-down"></i>
            </aside>
            <div class="forum-card-main">
                <h3>
                    <a asp-area="Forum" asp-controller="Questions" asp-action="Details" asp-route-id="@question.Id">@question.Title</a>
                </h3>
                <div class="summary">
                    <a asp-area="Forum" asp-controller="Questions" asp-action="Edit" asp-route-id="@question.Id">
                        <i class="far fa-edit"></i>
                    </a>
                    <a asp-area="Forum" asp-controller="Questions" asp-action="Delete" asp-route-id="@question.Id">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    <span>Asked @question.CreatedOn</span>
                </div>
                @Html.Raw(question.Content)
                <div class="forum-card-footer">
                    <div class="user-card">
                        <div class="user-img-container">
                            <img src="~/img/default-user-avatar.jpg">
                        </div>
                        <div class="user-card-details">
                            <a href="">@question.AuthorEmail</a>
                            <span>user</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>}
    </div>
    <partial name="_SideContentPartial" />
</article>
