@using Scio.Web.ViewModels.Forum.Questions
@model DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<article class="forum">
    <header>
        <h1>@Model.Title</h1>
        <div class="summary">
            <a asp-area="Forum" asp-controller="Questions" asp-action="Edit" asp-route-id="@Model.Id">
                <i class="far fa-edit"></i>
            </a>
            <a asp-area="Forum" asp-controller="Questions" asp-action="Delete" asp-route-id="@Model.Id">
                <i class="far fa-trash-alt"></i>
            </a>
            <span>Asked @Model.CreatedOn</span>
        </div>
    </header>
    <div class="forum-content">
        <div class="forum-card">
            <aside>
                <i class="fas fa-chevron-up"></i>
                <p>votes</p>
                <i class="fas fa-chevron-down"></i>
            </aside>
            <div class="forum-card-main">
                @Html.Raw(Model.Content)
                <div class="forum-card-footer">
                    <div class="forum-card-tags">
                        <span><a href="#">some tag</a></span>
                        <span><a href="#">some tag</a></span>
                        <span><a href="#">some tag</a></span>
                    </div>
                    <div class="user-card">
                        <div class="user-img-container">
                            <img src="~/img/default-user-avatar.jpg">
                        </div>
                        <div class="user-card-details">
                            <a href="">@Model.AuthorEmail</a>
                            <span>user</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       @if (Model.Answers.Count() == 0)
        {
            <h2>No Answers</h2>
        }
        else
        {
            <h2>@Model.Answers.Count() Answers</h2>
           @foreach (var answer in Model.Answers)
            {
                <div class="forum-card">
                    <aside>
                        <i class="fas fa-chevron-up"></i>
                        <p>votes</p>
                        <i class="fas fa-chevron-down"></i>
                    </aside>
                    <div class="forum-card-main">
                        <div class="summary">
                            <a asp-area="Forum" asp-controller="Answers" asp-action="Edit" asp-route-id="@answer.Id">
                                <i class="far fa-edit"></i>
                            </a>
                            <a asp-area="Forum" asp-controller="Answers" asp-action="Delete" asp-route-id="@answer.Id">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <span>Answered @Model.CreatedOn</span>
                        </div>
                        <p>@Html.Raw(answer.Content)</p>
                        <div class="forum-card-footer">
                            <div class="user-card">
                                <div class="user-img-container">
                                    <img src="~/css/default-user-avatar.jpg">
                                </div>
                                <div class="user-card-details">
                                    <a href="">@answer.AuthorEmail</a>
                                    <span>@answer.CreatedOn</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <h2>My Answer</h2>
        <form role="form" asp-area="Forum" asp-controller="Answers" asp-action="Create" method="post">
            <textarea id="mytextarea" name="content">Hello, World!</textarea>
            <input type="hidden" value="@Model.Id" name="questionId" />
            <button type="submit">Submit Answer</button>
        </form>
    </div>
    <partial name="_SideContentPartial" />
</article>